---
layout: default
---

<div class="home">


 <table style="margin: 0px 0px 0px 70px;  width: 80%;  " border="0px"> 
  <tr>
        <td style="padding: 0px 0px 0px 0px;margin: -10px -10px 0px -10px;">
          <h3 style="margin: 30px 0px 0px 10px;"> <label style="background-color: red;  padding: 10px 10px 10px 10px" > Alerts</label> </h3>
        </td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF" style="padding: 10px 10px 10px 70px;">
          <img src="{{site.baseurl}}/assets/img/Alert.png" alt="Overeasy logo" style="height: 50px"> &nbsp
          2 Food Worker cards expiring soon. <a>Manage Permits</a>

        </td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF" style="padding: 10px 10px 10px 70px">
          <img src="{{site.baseurl}}/assets/img/Alert.png" alt="Overeasy logo" style="height: 50px"> &nbsp
          High chance of inspection this week. <a>View dashboard</a>
        </td>
        
      </tr>
    </table>

<table style="margin: 0px 0px 0px 70px;  width: 80%; text-align: center; " border="0px"> 
  <tr>
        <td style="padding: 0px 0px 0px 0px;margin: -10px -10px 0px -10px;">
          <h3 style="padding: 10px;"> </h3>
        </td>
      </tr>
      <tr>
        <td >
          <p style="padding: 5px;"> Change of Inspection:</p>
          <img src="{{site.baseurl}}/assets/img/80.png" alt="Overeasy logo" style="height: 150px; width: 150px"> &nbsp
          <a>How was this calculated? </a>
        </td>
        <td >
          <img src="{{site.baseurl}}/assets/img/fish-restaurant-logo.jpg" alt="Overeasy logo">
          <span class="heading">User Rating</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p>4.1 average based on 254 reviews.</p>
        <hr style="border:3px solid #f1f1f1">

        
        </td>
      </tr>
    </table>  


</div>
